* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkBlack: #131921;
  --yellow: #febd69;
  --subHeader: #232f3e;
  --footer: #37475a;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkBlack);
  height: 8vh;
  width: 100vw;
}

header img {
  width: 150px;
}
.amazon-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.amazon-header p {
  color: whitesmoke;
  font-size: 12px;
}

.deliver-location {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  margin-right: 30px;
  padding: 10px;
}
.sub-header {
  width: 100vw;
  height: 10vh;
  background-color: var(--subHeader);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: whitesmoke;
  font-size: 12px;
}
.sub-header span {
  color: var(--yellow);
  font-size: 10px;
}
.game-header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--footer);
}

main {
  margin-top: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.card {
  width: 40vw;
  height: 100px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
  border-radius: 10px;
  color: var(--subHeader);
  text-transform: capitalize;
}
.attempts {
  margin-top: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.attempts-value {
  color: var(--yellow);
}

.reviews-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  gap: 10px;
  margin-bottom: 10px;
}
.one-review {
  width: 80vw;
  background-color: var(--footer);
  border-radius: 5px;
  padding: 20px;
}
.profile-name {
  font-size: 12px;
  text-transform: capitalize;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.profile-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.one {
  background-image: url("./sabineImage.jpg");
}
.two {
  background-image: url("./ziadImage.jpg");
}
.three {
  background-image: url("./male.jpg");
}
.four {
  background-image: url("./ethWoman.jpg");
}
.profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
  gap: 5px;
}

.review-text {
  font-size: 10px;
  color: white;
  opacity: 0.5;
  line-height: 20px;
}
.date {
  margin-right: 5px;
  color: white;
  opacity: 0.5;
  font-size: 10px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--subHeader);
  opacity: 0.3;
}

.congratulation-container {
  width: 80vw;
  height: 500px;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  z-index: 10;
}
.congratulation-container h2 {
  font-size: 15px;
  width: 70vw;
  margin-top: 20px;
}

.congratulation-container p {
  width: 70vw;
  font-size: 12px;
  margin-top: 10px;
}

.collect-gift {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--yellow);
  border: none;
  background-color: var(--yellow);
}

.congratulation-container img {
  width: 200px;
}
.display-flex {
  display: flex;
}
